<a href="https://colab.research.google.com/github/AquilesCarlos-TI/2026/blob/main/etec_Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

int= inteiro
float= decimal
str string= pontuação
bool= true/false

marciobarrosetec

In [25]:
idade= 25  #int
altura = 1.75 #float
numero = 2+3j #complex
nome= "alice" #str
chuva= False #bool
numeros= [1, 2, 3, 4, 5,] #list
cordenadas= (10,20) #tuple
vogais= {'a', 'e', 'i', 'o', 'u'} #set
pessoa = {"nome": "Carlos", "idade": 30} #dict

In [41]:
al= 1.70 #float
id= 15 #int
no= "Aquiles" #str

print (f"Nome: {no}, Idade: {id}, Altura: {al}")

Nome: Aquiles, Idade: 15, Altura: 1.7